body {
  font-family: "Montserrat",sans-serif;
}
/* Navigation */
.navbar {
  margin-top: 15px;
  top: 0;
  left: 0;
  width: 100%;
}

.navbar-link {
  white-space: nowrap;
  font-size: 20px;
  width: 100%;
  font-weight: 500;
  align-self: center;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
}

.navbar-link:hover {
  cursor: pointer;
  text-decoration: none;
}

.navbar-partners, .navbar-about {
  margin-right: 10vw;
}

.navbar-faqs, .navbar-contact {
  margin-left: 10vw;
}


/* Footer */
footer {
  background-color: #5FA7A5;
  position:fixed;
  left:0px;
  bottom:0px;
  height:130px;
  width:100vw;
}

.footer-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 60px;
  margin-right: 60px;
}

.footer-left {
  margin-top: 18px;
  padding-right: 30px;
  border-right-style: solid;
  border-right-color: #ffffff;
}

.footer-details {
  font-size: 14px;
  color: #ffffff;
  line-height: 17px;
  text-align: right;
}
