body {
  font-family: "Montserrat",sans-serif;
}

.home-center {
  text-align: center;
}

@media screen and (min-width: 1280px) {
  /* Navigation */
  .navbar {
    top: 0;
    left: 0;
    width: 100%;
    background: white;
  }

  .navbar > .container {
    justify-content: center;
  }

  .navbar-link {
    white-space: nowrap;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    width: 100px;
    font-weight: bold;
    align-self: center;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
  }

  .navbar-link:hover {
    cursor: pointer;
    text-decoration: none;
  }

  .navbar-testimonials, .navbar-about {
    margin-right: 7.5vw;
  }

  .navbar-faqs, .navbar-contact {
    margin-left: 7.5vw;
  }

  .dropdown-menu {
    border-radius: 0;
  }

  .dropdown-menu a {
    font-size: 12px;
    color: #212529;
    font-weight: bold;
    text-decoration: none;
    text-transform: capitalize;
  }

  .dropdown-menu li {
    margin-bottom: 2rem;
  }

  .guidelines {
    margin-left: 4vw;
  }

  .about-dropdown li:last-of-type {
    margin-bottom: 0.5rem;
  }

  .about-dropdown {
    margin-left: -3.5rem;
  }

  .faq-dropdown li {
    margin-bottom: 0;
  }


  /* Home */
  .home {
    left: 0;
    top: 9em;
    width: 100vw;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .home-title {
    text-align: center;
    font-size: 50px;
  }

  .home-center {
    margin-top: 30px;
  }

  .home-values {
    position: absolute;
    font-size: 80px;
    color: #74B2B0;
    margin-left: 85px;
    margin-top: 45px;
  }

  .home-text {
    margin-top: 15px;
    font-size: 36px;
    color: #74B2B0;
  }

  .home-button {
    margin-top: 45px;
    display: flex;
    justify-content: center;
  }

  .home-apply-now {
    background-color: #74B2B0;
    color: white;
    font-size: 24px;
  }

  /* About */
  .about {
    left: 0;
    top: 0;
    overflow-y: hidden;
  }

  .about-image {
    width: 100%;
  }

  .about-partners, .about-timeline, .about-week {
    width: 98.5vw;
    margin-bottom: 30px;
  }

  .about-week {
    margin-bottom: 0px;
  }

  /* Contact Us */
  .contact-us {
    top: 6em;
    left: 0;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
  }

  .contact-us-title {
    font-size: 28px;
    width: 100%;
    margin-bottom: 30px;
  }

  .contact-line {
    padding-left: 3vw;
    border-left: 2px solid #CECECE;
  }

  .contact-details {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 15px;
  }

  .get-in-touch {
    text-transform: uppercase;
    font-size: 18px;
    color: #5EA7A5;
    text-align: center;
  }

  .contact-input-name, .contact-input-email, .contact-input-message {
    background-color: #f7f7f7;
    border-color: transparent;
    border-radius: 0.2em;
    width: 100%;
    height: 40px;
    color: #989696;
    margin-bottom: 15px;
    margin-top: 15px;
  }

  .contact-input-message {
    padding-bottom: 200px;
    padding-top: 30px;
  }

  .contact-container {
    display: flex;
    justify-content: center;
  }

  .contact-button {
    background-color: #74B2B0;
    color: white;
    font-size: 18px;
    font-weight: bold;
  }

  /*FAQs*/
  .faq-item {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .faq-line{
    border-color: #3f403f;
  }

  .faq-parallelogram-grey-section {
    width: 60%;
    z-index: -1;
  }

  .faq-parallelogram-grey-content {
    font-size: 15px;
    position: relative;
    left: 10%;
    top: 50%;
    width: 60%;
    bottom: 400px;
  }

  .faq-parallelogram-blue-section {
    width: 20%;
    position: relative;
    right: 10%;
  }

  .faq-parallelogram-blue-text {
    font-weight: bold;
    color: white;
    font-size: 35px;
    position: relative;
    bottom: 220px;
    left: 30%;
  }

  .faq-question {
    font-size: 17px;
    font-weight: bold;
    position: relative;
    right: 5%;
  }

  .faq-question-text {
    width: 80%;
    text-align: center;
    padding: 5px;
    margin: auto;
  }

  .faq-loading-dots {
    width: 70px;
    display: block;
    margin: auto;
  }

  /* Testimonials */

  .testimonials{
    display: flex;
    align-items: center;
  }

  .testimonials-container{
    height: 80%; /*does not take effect, i don't know why*/
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .testimonials-image{
    height: 100%;
  }

  .testimonials-box{
    background-color: #74B2B0;
    height: 100%;
    width: 30%;

  }

  .testimonials-textbox{
    padding: 15%;
  }

  .testimonials-quote{
    text-align: center;
    color: white;
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
  }

  .testimonials-text{
    text-align: center;
    color: white;
    font-size: 20px;
    font-style: italic;
  }

  .testimonials-content-controls{
    background-color: white;
    width: 50%;
    display: flex;
    flex-direction: row;
    padding: 25px 50px 25px 50px;
    position: relative;
    left: 50%;
  }

  .testimonials-content-controls-right{
    position: relative;
    left: 80%;
  }

  .testimonials-dots-set{
    display: flex;
    flex-direction: column;
    margin: 10px;
  }

  .testimonials-dot{
    padding: 5px;
    width: 25px;
    height: 25px;
  }

  .testimonials-title{
    width: 12%;
    display: flex;
    align-items: center;
  }

  .testimonials-vertical{
    font-size: 30px;
    font-weight: bolder;
    transform: rotate(270deg);
    text-transform: uppercase;
  }


}
